<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>BSH</title>
</head>
<body>
    <header>
        <nav class="nav-main">
            <ul class="ul-menu">
                <div class="menu">
                    <div class="logo">
                        <li>
                            <a href="/"><img src="/imagens/logo.png"></a>
                        </li>
                    </div>

                    <div class="search-bar">
                        <li class="search-container">
                            <input type="text" placeholder="Faça sua pesquisa" class="barra-pesquisa">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <div class="hints">
                            </div>
                        </li>
                    </div>

                    <% if(!user) { %> <!---- se nao tiver nenhum usuario na sessão ---->
                    <div class="infos">
                        <div class="user">
                            <li>
                                <a href="login"> 
                                    <i class="fa-solid fa-user"></i>
                                    Faça seu login ou cadastro
                                </a>
                            </li>
                        </div>

                                                
                        <div class="fale-conosco">
                            <li>
                                <a href="fale-conosco">
                                    <i class="fa-regular fa-message"></i>
                                    Fale conosco
                                </a>
                            </li>
                        </div>

                        <div class="cart">
                            <li>
                                <a href="cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                        </div>
                    </div> 
                    <% } %>

                    <% if (user) { %><!---- se tiver nenhum usuario na sessão ---->
                                            
                    <div class="infos">        
                        <div class="fale-conosco">
                            <li>
                                <a href="fale-conosco">
                                    <i class="fa-regular fa-message"></i>
                                    Fale conosco
                                </a>
                            </li>
                        </div>

                        <div class="cart">
                            <li>
                                <a href="cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                        </div>

                        <div class="logout">
                            <li>
                                <p>Olá, <%= user.nome %>!</p>
                                <form action="logout" method="POST">
                                    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                                </form>
                            </li>
                        </div>
                        <% } %>
                        
                        <div class="hamburguer-none">
                            <li>
                                <i id="hamburguer-mobile" class="fa-solid fa-bars"></i>
                            </li>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>

        <nav class="nav-secondary"> 
            <ul>
                <div class="categorias">
                    <li class="card-categorias">
                        <i id ="hamburguer" class="fa-solid fa-bars"></i> 
                        <a href="#">  Categorias </a>

                        <div class="sub-menu">
                            <ul>
                                <li> <a href="corte.html"> Ferramentas de Corte </a></li>
                                <li> <a href="ferramentas_medicao"> Ferramentas de Medição </a></li>
                                <li> <a href="precisao.html"> Ferramentas de Precisão </a></li>
                                <li> <a href="impacto.html"> Ferramentas de Impacto </a></li>
                            </ul>
                        </div>
                        
                    </li>

                    <li>
                        <a href="ferramentas_eletricas"> Elétrica </a>
                    </li>

                    <li>
                    <a href="#"> Ofertas </a>
                    </li>

                    <li>
                        <a href="#"> Fixação </a>
                    </li>

                    <li>
                        <a href="#"> Jardinagem </a>
                    </li>
                </div>
            </ul>
        </nav>     
    </header>

    <div class="wrapper">
        <% for (const product of products) { %>
            <% if (product.categoria == 'eletrica') { %>
                <div class="item">
                    <a href="product">
                        <div class="item-img">
                            <img src="./imagens/<%=product.image%> ">
                        </div>
                        <p> <%= product.name %>  </p>

                        <div class="valor">
                            <p> R$ <%= (product.price).toFixed(2)  %></p>
                        </div>        
                    </a>
                    <form method="POST" action="cart/add" class="comprar">
                        <input type="hidden" value="<%=product.id%>" name="product">
                        <div class="card-buy">
                            <% if(user) { %>
                            <button type="submit" class="button-buy"> Comprar </button>
                            <% } %>
                            <% if(!user) { %>
                                <button type="button" class="button-buy-lock" style="background-color: gray; opacity: 0.8; cursor: default;"> Comprar <i class="fa-solid fa-lock"></i> </button>
                            <% } %>
                        </div>
                    </form>
                </div>
            <% } %>
        <% } %>
    </div>
    <footer>
        <div class="logo-footer">
            <h1> LOGO </h1>
            <!-- <img src="/imagens/logo_branca.png"> -->
            <p> © 2023 Amber Forte </p>
        </div>
        <div class="endereco-footer">
            <p> Venha nos visitar! </p>
            <p> Rua Joao Joaquim de Melo, 678, Vila Mimosa </p>
            <p class="cel"> (19) 94561-3023</p>
        </div>
        <div class="social-footer">
            <p> Nos siga! </p>
            <div class="instagram-footer">
                <i class="fa-brands fa-instagram"></i> <p> @bsh_ferramentas</p>      
            </div>
        </div>
    </footer>
</body>
</html>
