<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleProduct.css">
    <title> Produto </title>
</head>
<body>
    <header id="header">
        <a id="logo" href="/"><img src="../imagens/logo.png"></a>
            <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
            </div>
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <div class="search-bar">
                <li class="search-container">
                    <input type="text" placeholder="Faça sua pesquisa" class="barra-pesquisa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <div class="hints">
                    </div>
                </li>
                </div>
            <% if(!user) { %>
                <div class="infos">
                <div class="user">
                    <li>
                        <a href="login"> 
                            <i class="fa-solid fa-user"></i>
                            Faça seu login ou cadastro
                        </a>
                    </li>
                </div>
                <div class="fale-conosco">
                    <li>
                        <a href="fale-conosco">
                            <i class="fa-regular fa-message"></i>
                            Fale conosco
                        </a>
                    </li>
                </div>
    
                <div class="cart">
                    <li>
                        <a href="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Carrinho
                        </a>
                    </li>
                </div>
            <% } %>
    
            <% if (user) { %>
    
                                        
                <div class="fale-conosco">
                    <li>
                        <a href="fale-conosco">
                            <i class="fa-regular fa-message"></i>
                            Fale conosco
                        </a>
                    </li>
                </div>
    
                <div class="cart">
                    <li>
                        <a href="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Carrinho
                        </a>
                    </li>
                </div>
                <div class="logout">
                    <li>
                        <p>Olá, <%= user.nome %>!</p>
                        <form action="logout" method="POST">
                            <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                        </form>
                    </li>
                </div>
            <% } %>
                <div class="categorias-mobile">
                    <li class="card-categorias">
                        <div class="sub-menu">
                            <ul>
                                <li> <a href="corte.html"> Ferramentas de Corte </a></li>
                                <li> <a href="ferramentas_medicao"> Ferramentas de Medição </a></li>
                                <li> <a href="precisao.html"> Ferramentas de Precisão </a></li>
                                <li> <a href="impacto.html"> Ferramentas de Impacto </a></li>
                            </ul>
                        </div>
                        
                    </li>
    
                    <li>
                        <a href="ferramentas_eletricas"> Elétrica </a>
                    </li>
    
                    <li>
                    <a href="#"> Ofertas </a>
                    </li>
    
                    <li>
                        <a href="#"> Fixação </a>
                    </li>
    
                    <li>
                        <a href="#"> Jardinagem </a>
                    </li>
                </div>
            </div> 
            </ul>
            </nav>
        </header>
        <nav class="nav-secondary"> 
          <ul>
              <div class="categorias">
                  <li class="card-categorias">
                      <i id ="hamburguer" class="fa-solid fa-bars"></i> 
                      <a href="#">  Categorias </a>
    
                      <div class="sub-menu">
                          <ul>
                              <li> <a href="corte.html"> Ferramentas de Corte </a></li>
                              <li> <a href="ferramentas_medicao"> Ferramentas de Medição </a></li>
                              <li> <a href="precisao.html"> Ferramentas de Precisão </a></li>
                              <li> <a href="impacto.html"> Ferramentas de Impacto </a></li>
                          </ul>
                      </div>
                      
                  </li>
    
                  <li>
                      <a href="ferramentas_eletricas"> Elétrica </a>
                  </li>
    
                  <li>
                  <a href="#"> Ofertas </a>
                  </li>
    
                  <li>
                      <a href="#"> Fixação </a>
                  </li>
    
                  <li>
                      <a href="#"> Jardinagem </a>
                  </li>
              </div>
          </ul>
      </nav>  

    <div class="produto">
        <div class="imagem-produto">
            <img src="../imagens/<%=product.image%> ">
        </div>
    
        <div class="texto-produto">
            <div class="titulo-produto">
                <h1> <%= product.name %> </h1>
            </div>
    
            <div class="marca">
                <p> <%= product.brand %> </p>
            </div>
    
            <div class="pagamento">
                <div class="valor-produto">
                    <h1> R$ <%= (product.price).toFixed(2) %> </h1>
                </div>

                        <div class="forma-pagamento">
                            <div>
                                <p> Em até 6x sem juros de R$ 66,68</p>
                            </div>

                            <div>
                                <p class ="text-pagamento"> Formas de pagamento </p>
                            </div>
                        </div>
                        
                    </div>
            
                    <div class="container-frete">
                        <p>Calcule seu frete</p>
                        <div class="box-frete">
                            <form id="cep-form">
                                <input type="text" class="cep" name="cep" placeholder="CEP" id="cep-input">
                                <button type="submit">Calcular Frete</button>
                            </form>
                            <% if(frete) { %>
                                <p>Valor frete: R$ <%= frete.valorsedex %> </p>
                                <p>Prazo: <%= frete.prazosedex %> dias </p> 
                            <% } else { %>
                                <p>Frete não calculado.</p>
                            <% } %>
                            <div id="resultado-frete"></div>
                        </div>
                    </div>
                    

            <div class="qtde">
                <p> Quantidade: </p>
                <input type="number" step="1" value="1">
            </div>

            <div class="button-cart">
                <button type="submit"> Adicionar ao Carrinho </button>
            </div>
        </div>  
    </div>

    <div class="title-wrapper">
        <h1> Outros produtos: </h1>
    </div>
    <div class="wrapper" style="justify-content: space-evenly; margin-top: 30px;">
        <% for (const product of products) { %>
            <% if (product.categoria == 'destaque') { %>
                <div class="item">
                    <a href="#">
                        <div class="item-img">
                            <img src="../imagens/<%=product.image%> ">
                        </div>
                        <p> <%= product.name %> </p>

                        <div class="valor">
                            <p> R$ <%= (product.price).toFixed(2) %> </p>
                        </div>        
                    </a>
                    <form method="POST" action="cart/add" class="comprar">
                        <input type="hidden" value="<%=product.id%>" name="product">
                        <div class="card-buy">
                            <% if(user) { %>
                            <button type="submit" class="button-buy"> Comprar </button>
                            <% } %>
                            <% if(!user) { %>
                                <button type="button" class="button-buy-lock" style="background-color: gray; opacity: 0.8; cursor: default;"> Comprar <i class="fa-solid fa-lock"></i> </button>
                            <% } %>
                        </div>
                    </form>
                </div>
            <% } %>
        <% } %>
    </div>

    <footer>
        <div class="logo-footer">
            <img src="/imagens/logo_branca.png">
            <p> © 2023 Amber Forte </p>
        </div>
        <div class="endereco-footer">
            <p> Venha nos visitar! </p>
            <p> Rua Joao Joaquim de Melo, 678, Vila Mimosa </p>
            <p class="cel"> (19) 94561-3023</p>
        </div>
        <div class="social-footer">
            <p> Nos siga! </p>
            <div class="instagram-footer">
                <i class="fa-brands fa-instagram"></i> <p> @bsh_ferramentas</p>      
            </div>
        </div>
    </footer>
    <script>
        
    </script>
</body>
</html>